// Variables

$sm: 600px;
$md: 900px;
$color-accent: #0706b7;
$color-primary: #dddddd;
$color-hover: #098ce8;

/* Fonts */
@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: Montserrat Bold;
  src: url("/fonts/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-Regular.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-accent;
  outline: 1px solid $color-hover;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar {
  width: 1em;
  @media (max-width: $md) {
    width: 0.4rem;
  }
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: url("/images/layout_bg.png") black;
  font-family: "Roboto";
  font-weight: 300;
  overflow: hidden;
  position: relative;
  @media (max-width: $md) {
    overflow: scroll;
  }
}

#__next {
  height: 100%;
  // display: flex;
  // flex-direction: column;
  position: relative;
  overflow: hidden;
  cursor: url("../assets/cursors/cursor.png"), auto;
  @media (max-width: $md) {
    overflow: scroll;
    scroll-behavior: smooth;
  }
}

h1,
h2,
h3,
h4,
h5,
p,
input,
label,
textarea,
.MuiInputBase-root,
span {
  cursor: url("../assets/cursors/text.png"), auto !important;
}

h1,
h2,
h3,
h4,
h5,
nav button {
  font-family: Montserrat Bold;
  text-transform: uppercase;
}

.pulse-title {
  font-family: "Roboto";
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

a,
button,
.carousel-item {
  cursor: url("../assets/cursors/pointer.png"), auto !important;
}

a,
button,
nav button {
  font-size: 1rem;
}

input,
textarea {
  padding: 0.5rem;
}

textarea {
  font-family: "Roboto";
}

// Firefox
@supports (-moz-appearance: none) {
  #home {
    .wrapper {
      height: 25rem !important;
    }
  }
}
