/* Fonts */

@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: Montserrat Bold;
  src: url("/fonts/Montserrat-ExtraBold.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: url("/images/layout_bg.png") black;
  font-family: "Roboto";
  font-weight: 300;
  overflow: hidden;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 3rem 0;
  overflow: hidden;
  cursor: url("../assets/cursors/cursor.png"), auto;
}

h1,
h2,
h3,
h4,
h5,
p,
input,
label {
  cursor: url("../assets/cursors/text.png"), auto !important;
}

h1,
h2,
h3,
h4,
h5,
nav button {
  font-family: Montserrat Bold;
  text-transform: uppercase;
}

.pulse-title {
  font-family: "Roboto";
}

a {
  color: inherit;
  text-decoration: none;
  cursor: url("../assets/cursors/pointer.png"), auto;
}

button {
  background: none;
  cursor: url("../assets/cursors/pointer.png"), auto !important;
  border: none;
}

nav button {
  font-size: 1rem;
}

input,
textarea {
  padding: 0.5rem;
}

textarea {
  font-family: "Roboto";
}
